/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.container {
    display:flex;
    flex-direction: column;
	width: 880px;
	margin: 20px auto;
	background-color: white;
}

h1 {
	text-align: center;
	height: 72px;
}

footer.footer {
	display:flex;
	width:880px;
	justify-content: center;
	padding-top: 75px;
}

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px; 
    width: 610px;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    margin: 28px 0 0 91px;
}

.special1 {
	margin-top:95px;
}

.button {
	display:flex;
	align-items:flex-start;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-around;
}

.IOD {
	line-height: 1;
	font-size: 72px;
}

body div h1 .GetStartedbutton {
	font-family: 'Titillium Web', sans-serif;
	background-color:white;
	text-align:center;
	padding:5px;
	border: .75px solid black;
	width:150px;
	margin:0px auto;
	font-size:16px;
}

.codeSNIP {
	margin-top: 55px;
}

section .text {
	line-height: 1;
	font-size:14;
	text-align:left;
}

.section1 {
	border-top: 2px solid grey;
	width:100%;
	text-align:center;
	display:flex;
}

.article {
	width:435px;
	padding:0px;
	margin-bottom:20px;
	box-sizing:border-box;
	text-align:left;
}

.middle-img {
	text-align:center;
}

.section2 {
	border-bottom: 2px solid grey;
	display:flex;
}

.article2 {
	width:33%;
	padding:10px 0px;
	margin-bottom:20px;
	vertical-align: top;
}

.electronic {
	line-height:.5;
}

.copyright {
	text-decoration:none;
}


/* FOR SERVICES PAGE */

.services-header-img {
	margin-top:20px;
}

h2 {
	font-size:24px;
}

.sectionSERV {
	width:880px;
	display:flex;

}

.servicesFACTS {
	width:460px;
	padding-right:50px;
}

.learnMORE {
	font-family: 'Titillium Web', sans-serif;
	background-color:white;
	text-align:center;
	padding:5px;
	border: .75px solid black;
	width:150px;
	margin:0px auto;
	font-size:14px;
	border-radius: 5px;
	margin-top:15px;
}

.boxes {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;
	margin:40px 0px;
	padding:20px 0px;
}

.box {
	background-color:whitesmoke;
	width:420px;
	box-sizing: border-box;
	padding: 17.5px;
	border: 1px solid black;
	margin: 20px 0px;
	
}

.ul {
	list-style-type: square;
	list-style-position: inside;
}

.li {
	padding:5px;
	margin-top:5px;
}

@media only screen and (max-width: 800px) {
	body {
        width:100%;
        display:flex;
        flex-direction: column;
        align-content: flex-start;

    }

    .container {
		width:94%;
        display:flex;
		align-content: flex-start;
		flex-direction: column;
		justify-content: center;
        flex-wrap: nowrap;
        border: 1px solid red;
        margin-top:5px;

    }

    header {
        width: 100%;
        display: inline-block;
        justify-content:center;
        border: 1px solid purple;
        margin-top:150px;
    }
    
    header nav {
        width: 100%;
        justify-content: space-between;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
	
    

    .middle-img {
        width: 100%;
        text-align:center;
    }


    .codeSNIP {
        display:none;
    }

    

    footer.footer {
        display:flex;
        width:100%;
        justify-content: center;
        padding-top: 7.5rem;
    }

  }


  @media only screen and (max-width: 500px) {
	body {
        width:100%;
    }

    .container {
        width:100%;
        margin-top:250px;

    }

    header {
      display:flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }
    
    header nav {
       display: flex;
       justify-content: center;
       align-items: center;
    }

    header nav a {
        border: 1.5px solid #b0b0b0;
        width:100%;
        height:3rem;
    }
    
    header a .logo {
        width: 200px;
        height:36px;
        padding-right:17px;
    }   

    .middle-img {
        width: 94%;
        text-align:center;
        margin: 0 auto;
    }


    .codeSNIP {
        display:none;
    }

    .section1 {
        border-top: 2px solid grey;
        width:96%;
        margin:0 auto;
        text-align:center;
        display:flex;
        flex-direction: column;
        margin-bottom:15px;
    }
    .article {
        width:96%;
        margin:0px auto;
        margin-bottom:20px;
        box-sizing:border-box;
        text-align:left;
    }
    .article2 {
        width:96%;
        margin:0px auto;
        margin-bottom:20px;
        vertical-align: top;
    }
    .section2 {
        border-bottom: 2px solid grey;
        width:96%;
        display:flex;
        flex-direction: column;
    }

    
    footer.footer {
        display:flex;
        width:100%;
        justify-content: center;
        padding-top: 7.5rem;
    }

  }
